In [46]:
import pandas as pd
import numpy as np

In [47]:
df1=pd.read_csv("numerical.csv")
df2=pd.read_csv("categorical.csv")

In [48]:
df1.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [49]:
df2.head()

,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize

## Concatenate Numerical and Categorical dataframes into one dataframe called data.

In [50]:
#data=pd.concat([df1, df2], axis=0)
data=pd.concat([df1, df2], axis=1)

In [51]:
data.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,state,response,...,effective_to_date,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,2763.519279,56274,69,32,5,0,1,384.811147,Washington,No,...,2/24/11,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,6979.535903,0,94,13,42,0,8,1131.464935,Arizona,No,...,1/31/11,Unemployed,F,Suburban,Single,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,12887.431650,48767,108,18,38,0,2,566.472247,Nevada,No,...,2/19/11,Employed,F,Suburban,Married,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,7645.861827,0,106,18,65,0,7,529.881344,California,No,...,1/20/11,Unemployed,M,Suburban,Married,Corporate L2,Offer1,Call Center,SUV,Medsize
4,2813.692575,43836,73,12,44,0,1,138.130879,Washington,No,...,2/3/11,Employed,M,Rural,Single,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_lifetime_value        9134 non-null   float64
 1   income                         9134 non-null   int64
 2   monthly_premium_auto           9134 non-null   int64
 3   months_since_last_claim        9134 non-null   int64
 4   months_since_policy_inception  9134 non-null   int64
 5   number_of_open_complaints      9134 non-null   int64
 6   number_of_policies             9134 non-null   int64
 7   total_claim_amount             9134 non-null   float64
 8   state                          9134 non-null   object
 9   response                       9134 non-null   object
 10  coverage                       9134 non-null   object
 11  education                      9134 non-null   object
 12  effective_to_date              9134 non-null   object
 13  employmentstatus               9134 non-null   object
 14  gender                         9134 non-null   object
 15  location_code                  9134 non-null   object
 16  marital_status                 9134 non-null   object
 17  policy                         9134 non-null   object
 18  renew_offer_type               9134 non-null   object
 19  sales_channel                  9134 non-null   object
 20  vehicle_class                  9134 non-null   object
 21  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(14)
memory usage: 1.5+ MB

In [53]:
data.shape

(9134, 22)

In [54]:
data.isna().sum()

customer_lifetime_value          0
income                           0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
total_claim_amount               0
state                            0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
location_code                    0
marital_status                   0
policy                           0
renew_offer_type                 0
sales_channel                    0
vehicle_class                    0
vehicle_size                     0
dtype: int64

## In this final lab, we will model our data. Import sklearn train_test_split and separate the data.

In [55]:
X = data.drop(['total_claim_amount'],axis=1)
y = data['total_claim_amount']

In [56]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

## rate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
from sklearn.preprocessing import MinMaxScaler

#cat/num X-train
X_train_num = X_train.select_dtypes(include = np.number)
X_train_cat = X_train.select_dtypes(object)

#cat/num X-test
X_test_num = X_test.select_dtypes(include = np.number)
X_test_cat = X_test.select_dtypes(object)

#Scale X-train
transformer = StandardScaler().fit(X_train_num)
X_scaled_train = pd.DataFrame(transformer.transform(X_train_num),columns=X_train_num.columns)

#Scale X-test
X_scaled_test = pd.DataFrame(transformer.transform(X_test_num),columns=X_test_num.columns)
X_scaled_test

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,-0.558708,1.219468,0.365757,-1.394413,0.036337,-0.416368,-0.827900
1,-0.366427,-0.480179,-0.647352,-0.801057,-1.363943,-0.416368,0.422556
2,-0.620410,1.891757,0.018405,-1.196628,-0.358614,-0.416368,-0.827900
3,-0.009098,1.304439,0.163135,-1.196628,-0.753565,0.667444,0.839375
4,-0.006583,-0.461948,-0.705244,0.286763,-1.220325,-0.416368,-0.411081
...,...,...,...,...,...,...,...
2736,-0.541928,1.600348,0.423649,1.473475,-1.687085,-0.416368,-0.827900
2737,0.157084,-1.248424,0.828893,-0.009916,-0.035472,-0.416368,2.506651
2738,-0.365209,1.584234,1.234137,0.682333,-1.112611,-0.416368,-0.827900
2739,-0.429076,-1.248424,-0.647352,-0.306594,0.251765,-0.416368,0.005738
2740,3.158513,-0.080539,0.944677,0.385655,-1.328038,-0.416368,-0.411081

In [70]:

from sklearn.preprocessing import OneHotEncoder
# Onehot encoding
encoder = OneHotEncoder().fit(X_train_cat)

# encode training data
train_encoded = encoder.transform(X_train_cat).toarray()

train_encoded_columns = list()
train_dropped_columns = list()

for columns in encoder.categories_:
    condition = True
    for column in columns.tolist():
        if condition:
            train_dropped_columns.append(column)
            train_encoded_columns.append(column)
            condition = False
        else:
            train_encoded_columns.append(column)

train_cat_encoded = pd.DataFrame(data = train_encoded, columns=train_encoded_columns)
train_cat_encoded = train_cat_encoded.drop(columns = train_dropped_columns)
train_cat_encoded.head()

,California,Nevada,Oregon,Washington,Yes,Extended,Premium,College,Doctor,High School or Below,...,Branch,Call Center,Web,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Medsize,Small
0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [71]:
# encode test data
test_encoded = encoder.transform(X_test_cat).toarray()

test_encoded_columns = list()
test_dropped_columns = list()

# for columns in encoder.categories_:
#     condition = True
#     for column in columns.tolist():
#         if condition:
#             test_dropped_columns.append(column)
#             test_encoded_columns.append(column)
#             condition = False
#         else:
#             test_encoded_columns.append(column)

test_cat_encoded = pd.DataFrame(data = test_encoded, columns=test_encoded_columns)
test_cat_encoded = test_cat_encoded.drop(columns = test_dropped_columns)
test_cat_encoded

,California,Nevada,Oregon,Washington,Yes,Extended,Premium,College,Doctor,High School or Below,...,Branch,Call Center,Web,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Medsize,Small
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2736,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2737,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2738,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2739,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2740,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [73]:
#column_name = encoder.get_feature_names_out(test_cat_encoded).columns)

In [74]:
X_train_nrml = pd.concat([X_scaled_train,train_cat_encoded], axis = 1)
X_train_nrml

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,California,Nevada,Oregon,...,Branch,Call Center,Web,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Medsize,Small
0,-0.440756,0.358577,1.060461,-0.306594,-1.184420,-0.416368,-0.827900,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,-0.420766,-0.359109,1.089407,-0.998842,-1.651180,-0.416368,-0.827900,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,-0.457148,-0.821518,1.320975,-1.196628,0.108146,-0.416368,-0.827900,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.079576,-1.248424,0.799947,-0.998842,1.652045,-0.416368,2.089832,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,-0.699243,1.075931,-0.300001,-0.207701,-1.040801,0.667444,-0.827900,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6388,-0.095509,1.661925,-0.936812,1.572367,0.539002,-0.416368,-0.411081,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6389,-0.368720,-0.503275,-0.589460,0.187870,0.574906,-0.416368,0.005738,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6390,0.151363,-1.248424,1.031515,-0.207701,-1.579371,-0.416368,1.673013,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6391,0.991315,-1.248424,1.320975,-0.998842,0.287669,-0.416368,-0.411081,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6392,-0.688659,1.335509,-0.271055,1.869046,-1.256229,-0.416368,-0.827900,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [76]:
#merging test data
X_test_nrml = pd.concat([X_scaled_test,test_cat_encoded], axis = 1)
X_test_nrml

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,California,Nevada,Oregon,...,Branch,Call Center,Web,Luxury Car,Luxury SUV,SUV,Sports Car,Two-Door Car,Medsize,Small
0,-0.558708,1.219468,0.365757,-1.394413,0.036337,-0.416368,-0.827900,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,-0.366427,-0.480179,-0.647352,-0.801057,-1.363943,-0.416368,0.422556,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,-0.620410,1.891757,0.018405,-1.196628,-0.358614,-0.416368,-0.827900,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,-0.009098,1.304439,0.163135,-1.196628,-0.753565,0.667444,0.839375,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,-0.006583,-0.461948,-0.705244,0.286763,-1.220325,-0.416368,-0.411081,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2736,-0.541928,1.600348,0.423649,1.473475,-1.687085,-0.416368,-0.827900,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2737,0.157084,-1.248424,0.828893,-0.009916,-0.035472,-0.416368,2.506651,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2738,-0.365209,1.584234,1.234137,0.682333,-1.112611,-0.416368,-0.827900,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2739,-0.429076,-1.248424,-0.647352,-0.306594,0.251765,-0.416368,0.005738,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2740,3.158513,-0.080539,0.944677,0.385655,-1.328038,-0.416368,-0.411081,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [ ]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Fit a linear regression model
model = LinearRegression()
model.fit(X, y)

# Make predictions on the same data and calculate the R-squared score
y_pred = model.predict(X)
r2 = r2_score(y, y_pred)